<% @page_title = "Edit Admin User: #{@user.name}" -%>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>


  <h2>Edit <%= @user.name %></h2>

  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>


    <%= submit_tag('Update Agent') %>

  <% end %>
</div>
