<div class="form-group">
    <%= f.label(:name) %>
    <%= f.text_field(:name, :class => 'form-control') %>
</div>
<div class="form-group">
    <%= f.label(:price) %>
    <%= f.text_field(:price, :class => 'form-control') %>
</div>
<div class="form-group">
   <%= f.label(:address) %>
    <%= f.text_field(:address, :class => 'form-control') %>
</div>
<div class="form-group"> 
  <%= f.label(:description) %>
  <%= f.text_area(:description, :class => 'form-control') %>
</div>
<div class="form-group">  
  <%= f.label(:short_description) %>
  <%= f.text_field(:short_description, :class => 'form-control') %>
</div>
<div class="form-group">  
  <%= f.label(:user_id, "Agent") %>
  <%= f.select(:user_id, @users.map {|u| [u.first_name, u.id]}, :class => 'form-control') %>
</div>

<div class="form-group">  
  <%= f.label(:image, "Photos") %>
  <%= f.file_field(:image, :multiple => true, :class => 'form-control') %>
</div>