<% @page_title = "Edit Admin User: #{@property.name}" -%>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>


  <h2>Edit <%= @property.name %></h2>

  <%= form_for(:property, :html => {:multipart => true}, :url => {:action => 'update', :id => @property.id}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>


    <%= submit_tag('Update Property') %>

  <% end %>
</div>

